$control-border-width: 2px;

.button-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;

  button {
    margin-right: 2rem
  }

  button:last-child {
    margin-right: 0;
  }
}

button {
  border: $control-border-width $theme-color-3 solid;
  font-size: 1.4rem;
  font-weight: 600;
  min-height: 4rem;
  padding: 1rem;
  box-sizing: border-box;
  cursor: pointer;
  background-color: $theme-color-1;
  text-transform: uppercase;
  line-height: 1;
  color: $theme-color-3;
  font-family: Raleway, sans-serif;

  box-shadow: 0.2rem 0.2rem 0.4rem transparentize($theme-color-grey-1, 0.5);

  i {
    margin-left: .25rem;
  }

  &:hover {
    transition-duration: 0.3s;
    transition-property: transform;
    transform: scale(1.2);
    background-color: $theme-color-4;
    border-color: $theme-color-3;
    color: $theme-color-3;
  }

  &:active {
    border-color: $theme-color-4;
  }

  &:focus {
    border-color: $theme-color-4;
  }
}




input[type='text'], textarea {
  font-family: Raleway, sans-serif;
  border: $control-border-width $theme-color-3 solid;
  @media (max-width: $breakpoint-portrait-tablet) {
    border-width: 0.3rem;
  }
  font-size: 1.4rem;
  font-weight: 600;
  min-height: 4rem;
  padding: 1rem;
  box-sizing: border-box;

  &::placeholder {
    color: $theme-color-grey-2;
  }

  &:hover {
    //background-color: $theme-color-4;
  }

  &:focus {
    border-color: $theme-color-4;
    &::placeholder {
      color: $theme-color-grey-1;
    }
  }
}




input[type='text']:disabled, button:disabled {
  border-color: $theme-color-grey-2;
  color: $theme-color-grey-2;
  box-shadow: none;
  cursor: default;

  &:hover {
    transition-property: none;
    transform: none;
    background-color: $theme-color-1;
    border-color: $theme-color-grey-2;
    color: $theme-color-grey-2;
  }
}