@media print {
  @page {
    size: auto;
    margin: 20mm 20mm 25mm 20mm !important;
  }

  html {
    font-size: 0.8rem; //10pt;

    body {
      margin: 0 !important;
      padding: 0 !important;;

      main .main-content {
          margin: 0 !important;
          padding: 0 !important;

        }
      }
    }

  blockquote,
  blockquote+cite,
  button,
  footer,
  nav .nav-buttons,
  .dont-print
  {
    visibility: hidden !important;
    display: none !important;
  }

  nav .title {
    font-size: 4rem !important;
    padding-top: 0 !important;
    padding-bottom: 4rem !important;
  }

  .section-title {
    padding: 0 !important;
    margin: 0 !important;
    span, i {
      font-size: 2.6rem !important;
      font-weight: 700 !important;
    }
  }

  h1 {
    font-size: 2.2rem !important;
  }
  h2 {
    font-size: 2.0rem !important;
  }
  h3 {
    font-size: 1.8rem !important;
  }
  h4 {
    font-size: 1.6rem !important;
  }
  h5 {
    font-size: 1.4rem !important;
  }
  h6 {
    font-size: 1.2rem !important;
  }

  ul.flat {
    li {
      padding-top: .5rem !important;
      padding-bottom: .5rem !important;
    }
  }

  a:after {
    content: " [" attr(href) "]";
  }

  .pgBreakAfter{
    page-break-after: always;
  }

  .pgBreakBefore{
    page-break-before: always;
  }
}